<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <context-param>
  	<param-name>apiUrl</param-name>
  	<param-value>http://localhost:8080/JEE_APiQuentinThomas/api</param-value>
  </context-param>
  <env-entry> 
    <env-entry-name>apiUrl</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>http://localhost:8080/JEE_APiQuentinThomas/api</env-entry-value> 
 </env-entry>

  
  <servlet>
      <servlet-name>ConnectionPage</servlet-name>
      <servlet-class>appli.Servlets.ConnectionPage</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ConnectionPage</servlet-name>
	  <url-pattern>/Connection-Page</url-pattern>
  </servlet-mapping>

    <servlet>
      <servlet-name>Authentication</servlet-name>
      <servlet-class>appli.Servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>Authentication</servlet-name>
	  <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectAdministrator</servlet-name>
      <servlet-class>appli.Servlets.RedirectAdministrator</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectAdministrator</servlet-name>
	  <url-pattern>/Redirect-Administrator</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectBrigadeChief</servlet-name>
      <servlet-class>appli.Servlets.RedirectBrigadeChief</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectBrigadeChief</servlet-name>
	  <url-pattern>/Redirect-BrigadeChief</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectCollector</servlet-name>
      <servlet-class>appli.Servlets.RedirectCollector</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectCollector</servlet-name>
	  <url-pattern>/Redirect-Collector</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectPoliceman</servlet-name>
      <servlet-class>appli.Servlets.RedirectPoliceman</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectPoliceman</servlet-name>
	  <url-pattern>/Redirect-Policeman</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListAccount</servlet-name>
      <servlet-class>appli.Servlets.ListAccount</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListAccount</servlet-name>
	  <url-pattern>/List-Account</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListFineByBrigade</servlet-name>
      <servlet-class>appli.Servlets.ListFineByBrigade</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListFineByBrigade</servlet-name>
	  <url-pattern>/List-Fine-By-Brigade</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListVehicle</servlet-name>
      <servlet-class>appli.Servlets.ListVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListVehicle</servlet-name>
	  <url-pattern>/List-Vehicle</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListViolation</servlet-name>
      <servlet-class>appli.Servlets.ListViolation</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListViolation</servlet-name>
	  <url-pattern>/List-Violation</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>AddAccount</servlet-name>
      <servlet-class>appli.Servlets.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>AddAccount</servlet-name>
	  <url-pattern>/Add-Account</url-pattern>
  </servlet-mapping>
  
	<servlet>
      <servlet-name>AddVehicle</servlet-name>
      <servlet-class>appli.Servlets.AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>AddVehicle</servlet-name>
	  <url-pattern>/Add-Vehicle</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>AddViolation</servlet-name>
      <servlet-class>appli.Servlets.AddViolation</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>AddViolation</servlet-name>
	  <url-pattern>/Add-Violation</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ModifyAccount</servlet-name>
      <servlet-class>appli.Servlets.ModifyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ModifyAccount</servlet-name>
	  <url-pattern>/Modify-Account</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ModifyVehicle</servlet-name>
      <servlet-class>appli.Servlets.ModifyVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ModifyVehicle</servlet-name>
	  <url-pattern>/Modify-Vehicle</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ModifyViolation</servlet-name>
      <servlet-class>appli.Servlets.ModifyViolation</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ModifyViolation</servlet-name>
	  <url-pattern>/Modify-Violation</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CreateFine</servlet-name>
      <servlet-class>appli.Servlets.CreateFine</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>CreateFine</servlet-name>
	  <url-pattern>/Create-Fine</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListViolationCollector</servlet-name>
      <servlet-class>appli.Servlets.ListViolationCollector</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListViolationCollector</servlet-name>
	  <url-pattern>/List-Violation-Collector</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListValidatedFine</servlet-name>
      <servlet-class>appli.Servlets.ListValidatedFine</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListValidatedFine</servlet-name>
	  <url-pattern>/List-Validated-Fine</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ModifyViolationCollector</servlet-name>
      <servlet-class>appli.Servlets.ModifyViolationCollector</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ModifyViolationCollector</servlet-name>
	  <url-pattern>/Modify-Violation-Collector</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>AddFine</servlet-name>
      <servlet-class>appli.Servlets.AddFine</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>AddFine</servlet-name>
	  <url-pattern>/Add-Fine</url-pattern>
  </servlet-mapping>
  
  <error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Errors.jsp</location>
	</error-page>
</web-app>