<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <context-param>
  	<param-name>apiUrl</param-name>
  	<param-value>http://localhost:8080/JEE_APIQuentinThomas</param-value>
  </context-param>
  <env-entry> 
    <env-entry-name>apiUrl</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>http://localhost:8080/JEE_APIQuentinThomas</env-entry-value> 
 </env-entry>

  
  <servlet>
      <servlet-name>ConnectionPage</servlet-name>
      <servlet-class>Servlets.ConnectionPage</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ConnectionPage</servlet-name>
	  <url-pattern>/Connection-Page</url-pattern>
  </servlet-mapping>

    <servlet>
      <servlet-name>Authentication</servlet-name>
      <servlet-class>Servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>Authentication</servlet-name>
	  <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectAdministrator</servlet-name>
      <servlet-class>Servlets.RedirectAdministrator</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectAdministrator</servlet-name>
	  <url-pattern>/RedirectAdministrator</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectBrigadeChief</servlet-name>
      <servlet-class>Servlets.RedirectBrigadeChief</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectBrigadeChief</servlet-name>
	  <url-pattern>/RedirectBrigadeChief</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectCollector</servlet-name>
      <servlet-class>Servlets.RedirectCollector</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectCollector</servlet-name>
	  <url-pattern>/RedirectCollector</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>RedirectPoliceman</servlet-name>
      <servlet-class>Servlets.RedirectPoliceman</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>RedirectPoliceman</servlet-name>
	  <url-pattern>/RedirectPoliceman</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListAccount</servlet-name>
      <servlet-class>Servlets.ListAccount</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListAccount</servlet-name>
	  <url-pattern>/ListAccount</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListVehicle</servlet-name>
      <servlet-class>Servlets.ListVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListVehicle</servlet-name>
	  <url-pattern>/ListVehicle</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ListViolation</servlet-name>
      <servlet-class>Servlets.ListViolation</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ListViolation</servlet-name>
	  <url-pattern>/ListViolation</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>AddAccount</servlet-name>
      <servlet-class>Servlets.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>AddAccount</servlet-name>
	  <url-pattern>/Add-Account</url-pattern>
  </servlet-mapping>
  

</web-app>